@using Libreria.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem 0;
        }

        .input-group-text {
            background-color: #0d6efd;
            color: white;
        }

        .btn-m {
            width: 100%;
        }

        .input-group {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container my-4">
        <main class="container py-5" aria-labelledby="title">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card shadow-sm" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="card-body" style="margin-top: 20px; margin-bottom: 20px;">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h2 id="title" class="fw-bold text-primary text-center mb-lg-4">@ViewBag.Title</h2>
                                <div style="margin-left: 40px; margin-right: 40px; font-size: 16px;">
                                    @if (ViewData.ModelState.Any(ms => ms.Value.Errors.Any()))
                                    {
                                        <div class="alert alert-danger">
                                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                            {
                                                <p style="margin-bottom: 2px;">@error.ErrorMessage</p>
                                            }
                                        </div>
                                    }
                                </div>


                                <div class="mb-3">
                                    <div style="margin-left: 40px">
                                        @Html.LabelFor(m => m.Email, "Correo electrónico", new { @class = "form-label" })
                                    </div>
                                    <div class="input-group mx-auto">
                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Ingrese su correo electrónico" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="mb-3">
                                    <div style="margin-left: 40px">
                                        @Html.LabelFor(m => m.Password, "Contraseña", new { @class = "form-label" })
                                    </div>
                                    <div class="input-group mx-auto">
                                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Ingrese su contraseña" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-check mb-3" style="margin-left:38px;">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                                    @Html.LabelFor(m => m.RememberMe, "Recordarme", new { @class = "form-check-label" })
                                </div>

                                <div style="text-align: center">
                                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                </div>

                                <div class="text-center mt-3">
                                    <p>
                                        ¿No tienes cuenta? @Html.ActionLink("Regístrate aquí", "Register", new { @class = "text-primary fw-bold" })
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>
