@model Libreria.Models.Reseña

@{
    ViewBag.Title = "Details";
}
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem 0;
        }
    </style>
</head>
<body>
    <div class="container my-4">
        <h2>Details</h2>

        <div>
            <h4>Reseña</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Producto.NombreProducto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Producto.NombreProducto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comentario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comentario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Calificacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Calificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaReseña)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaReseña)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReseñaId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>