@model IEnumerable<Libreria.Models.Reseña>

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem 0;
        }
    </style>
</head>
<body>
    <div class="container my-4">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.NombreProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaReseña)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaReseña)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReseñaId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReseñaId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReseñaId })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>