@model Libreria.Models.Producto

@{
    ViewBag.Title = "Crear Producto";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Producto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-container">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.NombreProducto, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NombreProducto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ImagenProducto, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ImagenProducto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImagenProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DisponibilidadInventario, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DisponibilidadInventario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisponibilidadInventario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CategoriaId, "Categoría", htmlAttributes: new { @class = "form-label" })
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Crear</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary ml-3">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
