@model Libreria.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña.";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<main class="container py-5" aria-labelledby="title" style="margin-top:50px; margin-bottom: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body" style="margin-top: 20px; margin-bottom: 20px;">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="text-center mb-4">
                            <h2 id="title" class="fw-bold text-primary">@ViewBag.Title</h2>
                        </div>

                        <div class="mb-3">
                            <div style="margin-left: 40px">
                                @Html.LabelFor(m => m.OldPassword, "Contraseña anterior", new { @class = "form-label" })
                            </div>
                            <div class="input-group mx-auto" style="max-width: 300px;">
                                <span class="input-group-text" style="background-color: #0d6efd; color: white;"><i class="fa-solid fa-lock"></i></span>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Ingrese su contraseña anterior" })
                            </div>
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <div style="margin-left: 40px">
                                @Html.LabelFor(m => m.NewPassword, "Nueva contraseña", new { @class = "form-label" })
                            </div>
                            <div class="input-group mx-auto" style="max-width: 300px;">
                                <span class="input-group-text" style="background-color: #0d6efd; color: white;"><i class="fa-solid fa-lock"></i></span>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Ingrese su nueva contraseña" })
                            </div>
                            <div style="margin-left: 40px; margin-right: 40px; text-align: justify">
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <div style="margin-left: 40px">
                                @Html.LabelFor(m => m.ConfirmPassword, "Confirmar contraseña", new { @class = "form-label" })
                            </div>
                            <div class="input-group mx-auto" style="max-width: 300px;">
                                <span class="input-group-text" style="background-color: #0d6efd; color: white;"><i class="fa-solid fa-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirme su nueva contraseña" })
                            </div>
                            <div style="margin-left: 40px; margin-right: 40px; text-align: justify">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="margin-top: 30px; text-align: center">
                            <button type="submit" class="btn btn-primary btn-m">Cambiar contraseña</button>
                        </div>
                     }
                 </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
