<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>

    <div style="margin-top:100px; margin-bottom: 100px;">
        <section class="row text-center py-5" aria-labelledby="ufibreriaTitle" ;">
            <div class="col-12">
                <img src="~/img/user.png" width="100" style="margin-bottom: 25px;" /> <!-- user.png -->
                <h2 class="fw-bold text-primary text-center">@Model.UserName</h2> <!-- Título. -->
                <p style="font-family: Arial, Helvetica, sans-serif">@Model.Email</p> <!-- desc. -->
                <p style="color: #0d6efd; text-decoration: underline; font-size: 10px; text-align: center; margin-top: -20px">
                    <!-- Línea Azul. -->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p class="mt-lg-1">
                    <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-outline-primary shadow-sm" style="font-family: Arial, Helvetica, sans-serif;">
                        &nbsp;&nbsp;&nbsp;&nbsp;¿Cambiar la contraseña?&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-book-open"></i>
                    </a>
                </p>
                <p class="mt-lg-1">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-primary shadow-sm" style="font-family: Arial, Helvetica, sans-serif;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Cerrar Sesión
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-book-open"></i>
                    </a>
                </p>
            </div>
        </section>
    </div>
</main>
