@model IEnumerable<Libreria.Models.Carrito>
@{
    ViewBag.Title = "Carrito de Compras";
}


<h2>Carrito de Compras</h2>

<table class="table">
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Subtotal</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Producto.NombreProducto</td>
            <td>@item.Cantidad</td>
            <td>@item.Producto.Precio.ToString("C")</td>
            <td>@item.Subtotal.ToString("C")</td>
            <td>
                @using (Html.BeginForm("Eliminar", "Carrito", new { id = item.CarritoId }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                }
            </td>
        </tr>
    }
</table>

<h4>Total: @ViewBag.Total.ToString("C")</h4>

@using (Html.BeginForm("FinalizarCompra", "Carrito", FormMethod.Post))
{
    <button type="submit" class="btn btn-success">Finalizar Compra</button>
}
